.container {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 0 3rem 0;
  background-color: rgba(116, 181, 233, 0.08);
}

.header {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 6rem 0 3rem 0;
  }
  .header {
    max-width: 85%;
    margin-bottom: 3rem;
  }
  .content {
    max-width: 85%;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 6rem 0 3rem 0;
  }
  .header {
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  .content {
    max-width: 100%;
    padding: 0 1rem;
    flex-direction: column;
    gap: 2rem;
  }
}

