.container {
  width: 100%;
  padding: 3rem 0;
  position: relative;
}

.header{
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.card{
  background-color: rgba(73, 177, 221, 0.14);
  border: 2px solid rgba(73, 177, 221, 0.507) ;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.123); 
  border-radius: 20px;
  padding: 20px;
  min-width: 300px;
}
.header2{
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  gap: 10px;


}
.nameContainer{
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar{
  width: 50px;
}
.name{
  font-size: 1.4rem;

}
.job{
  font-size: .7rem;
  color: #6b7280;

}
.divider{
  width: 100%;
  height: 1px;
  background-color: #6b7280;
  margin: 10px 0;
}
.testimonial{
  font-size: 1rem;
  text-align: center;
}
.quoteContainer{
  height: 50px;
}
.testimonial{
  max-height: 100px;
  overflow: hidden;
}
.quoteIcon{
  height: 100%;
}
.cardsRowWrapper{
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
}

.cardsTrack {
  display: flex;
  gap: 20px;
  animation: scrollRightToLeft 120s linear infinite;
}

.cardsTrackReverse {
  animation: scrollLeftToRight 120s linear infinite;
}

.cardsRowWrapper:hover .cardsTrack,
.cardsRowWrapper:hover .cardsTrackReverse {
  animation-play-state: paused;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.shadowBox{
  position: absolute;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 20%;
}
.content{
  max-width: 70%;
  margin: 0 auto;
}
.cardsContainer{
  display: flex;
  flex-direction: column;
  position: relative;
}
.rightGradient{
  right: 0; 
  top: 0; 
  bottom: 0;
  background-image: linear-gradient(to left, rgb(255, 255, 255) 20%, transparent);
}
.leftGradient{
  left: 0; 
  top: 0; 
  bottom: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 20%, transparent);
}

