.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.placeholder {
  background: #f1f5f9;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  font-size: 24px;
  color: #6b7280;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

