.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
}
.image{
    position: relative;
    margin-top: -5%;
    max-width: 90%;
    width: 70%;
}
.imageContainer{
    overflow: hidden;
    border: 4px solid #000000;
    border-radius: 40px 40px 0 0 ;
    position: relative;
    z-index: 2;
}
.imageContainer img{
    position: relative;
    z-index: 999;
}
.blueShadow{
    position: absolute;
    top: 0;
    left: 20%;
    width: 30%;
    height: 100px;
    box-shadow: 0 0 100px 60px #258CDD;
    z-index: 1;
}
.purpleShadow{
    position: absolute;
    top: 0;
    right: 20%;
    width: 30%;
    height: 100px;
    box-shadow: 0 0 100px 60px #722F96;
    z-index: 1;
}
.whiteShadow{
    background: linear-gradient(to top, #ffffff 0% , transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 10;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .image {
        width: 80%;
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .image {
        width: 90%;
        max-width: 90%;
        margin-top: -3%;
    }

    .imageContainer {
        border-width: 3px;
        border-radius: 30px 30px 0 0;
    }

    .blueShadow {
        height: 80px;
        box-shadow: 0 0 80px 50px #258CDD;
    }
    .purpleShadow {
        height: 80px;
        box-shadow: 0 0 80px 50px #722F96;
    }
}

@media (max-width: 480px) {
    .image {
        width: 90%;
        max-width: 90%;
        margin-top: -2%;
    }

    .imageContainer {
        border-width: 2px;
        border-radius: 20px 20px 0 0;
    }

    .blueShadow {
        height: 60px;
        box-shadow: 0 0 60px 40px #258CDD;
    }
    .purpleShadow {
        height: 60px;
        box-shadow: 0 0 60px 40px #722F96;
    }
}