.hero{
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: 
        linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
    background-size: calc(80vh / 13) calc(80vh / 13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero *{
    width: fit-content;
}


.hero h1{
    font-size: 6vw;
}
.titleSecondary{
    background: linear-gradient(to right, #00B8FF, #990073);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    font-size: 1.7vw;
    width: 40%;
    text-align: center;
}