.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  padding: 20px;
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }
}

