.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 20px;
}

.mainContent.sidebarClosed {
  margin-left: 0;
}

.content {
  padding: 20px;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  margin-right: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }

  .content {
    padding: 15px;
    padding-top: 95px;
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
  .mainContent {
    margin-left: 0;
  }

  .content {
    padding: 10px;
    padding-top: 90px;
    margin-right: 10px;
  }
}

